/* 1) селектор 2)фігурні дужки 3)CSS властивості через ";" */

/* * - універсальний селектор */
/* h1 - селектор классу */
* {
  color: rgb(0, 255, 72); 
}
h2 {
color: rgb(6, 59, 6);
}
.list {
    color: blueviolet;
}